body {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    position: relative;
    color: #303030;
}

/* Navbar-top */

.navbar-toggler {
    color: #1672EC !important;
    border-color: #fff !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(22, 114, 236, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

a img {
    border-radius: 50px;
    margin-left: 5px;
}

.nav-top {
    box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.2), 0px 1px 2px rgba(97, 97, 97, 0.2);
    border-radius: 0px 0px 10px 10px;
}

.nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/* Cards */

.content-1 {
    background-color: #FBF3D0;
}

.content-2 {
    background-color: #ABFBF2;
}

.content-3 {
    background-color: rgba(197, 220, 250, 0.5);
}

.content-4 {
    background-color: rgba(236, 185, 249, 0.5);
}

/* Navigation-page */

.pagination .page-item {
    box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.2), 0px 1px 2px rgba(97, 97, 97, 0.2);
}

/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(229, 229, 229, 0.5);
}

.footer .container {
    width: auto;
}

/* Back to top Btn */

#btn-back-to-top {
    position: fixed;
    bottom: 95px;
    right: 20px;
    display: none;
    background-color: rgba(115, 67, 167, 0.8);
    opacity: 0.8;
}

/* Fin heading text */

.fin {
    font-family: 'Pacifico', cursive;
}

/* audio */

audio {
    display: none;
}

#sound {
    box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.2), 0px 1px 2px rgba(97, 97, 97, 0.2);
    background: rgba(115, 67, 167, 0.8);
    opacity: 0.8;
    transition: all 0.4s ease-out;
  }
  
#sound.fade:hover {
    opacity: 0.8 !important;
}

.fade {
    opacity: 0.4 !important;
    top: 70px !important;
    left: 10px !important;
    transform: translate(0, 0) !important;
}

/* btn-group social */

.bi-whatsapp, 
.bi-instagram,
.bi-envelope {
    position: relative;
    transition: bottom ease-in-out;
}

.bi-whatsapp:hover, 
.bi-instagram:hover,
.bi-envelope:hover {
    bottom: -3px;
}